* {
    box-sizing: content-box;
}

ul {
    list-style: none;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.listBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemsBlock {
    border: 1px solid aqua;
    margin: 50px;
    padding: 20px;
}

.inputBlock {
    max-width: 100px;
    margin: 5px 0;
    max-height: 21px;
}


.arrow {
    margin: 0 20px;
}

.active {
    color: red;
}

.item {
    margin: 5px 0;
}

.edit_li {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    height: 21px;
}

.icon {
    margin-right: 10px;
}

.btn {
    cursor: pointer;
}

.block {
    height: 31px;
}


